
.col-md-12
  .selector-panel
    - @group.name
    = render '/groups/title', group: @group
    .panel.panel-default
      .panel-heading
        %h3 
          A Note On
          = @note.title
          by
          = @note.user_name
      .panel-body
        .col-md-9
          %strong= @note.created_at.strftime("%b %d, %Y")
          %br
          = render 'note_content'
        .col-md-3 
          #single-note-show-box
            = render '/groups/notes.html.haml'
        .col-sm-3
          =button_to "Back to group", group_path(@group), method: "get"
        

        